@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
body{
    font-family: "Bungee Spice", sans-serif;
    font-size: 200;
    font-style: oblique;
    margin: 0;
    padding: 0;
    background-color: rgb(55, 5, 156);
    overflow-x: hidden;
    box-sizing: border-box;
}
/* --------------Shopping list sections---------------*/
.shopping-list-container {
    background-color: rgb(10, 87, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#shoppingList {
    list-style: none;
    padding: 0;
    text-align: center;
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

#shoppingList li {
    margin: 5px 0;
    cursor: pointer;
}

#itemInput {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

